/* src/styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  @apply bg-gray-100 text-gray-900;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* Centering the app */
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
